@font-face {
  font-family: "dafont";
  src: url(../public/DESIGNER.otf);
}
@font-face {
  font-family: "dafontBrush";
  src: url(../public/Brush\ King.otf);
}
@font-face {
  font-family: "dafontSword";
  src: url(../public/Blacksword.otf);
}
@font-face {
  font-family: "dafontSquid";
  src: url(../public/Game\ Of\ Squids.otf);
}
/* body{
  overflow-x: hidden;
} */
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
